body {
	font-family: 'Cairo', sans-serif;
	direction: rtl
}

.log-in .logIn-acount .hint {
	text-align: right;
	margin-right: 36px;
}

.log-in .logIn-acount .input-box label {
	top: 13px;
	left: 70%;
}

.log-in .logIn-acount {
	margin-left: 83px;
	margin-right: 0
}


.have-an-acount .btn-success,
.have-an-acount h2 {
	margin-left: 0
}

.log-in .logIn-acount .input-box .pass-me {
	left: 78%;
}

@media(max-width:1320px) {
	.log-in .logIn-acount .input-box label {
		left: 66%;
	}

	.log-in .logIn-acount .input-box .pass-me {
		left: 75%;
	}
}
@media(max-width:1206px) {
	.log-in .logIn-acount .input-box label {
		left: 64%;
	}
}
@media(max-width:839px) {
	.log-in .logIn-acount .input-box label {
		left: 60%;
	}

	.log-in .logIn-acount .input-box .pass-me {
		left: 71%;
	}
}
@media(max-width:777px) {
	.log-in .logIn-acount .input-box label {
		left: 59%;
	}
}

@media(max-width:767px) {
	.have-an-acount .btn-success {
		margin-left: 30px
	}
	.log-in .logIn-acount .input-box label {
		left: 78%;
	}

	.log-in .logIn-acount .input-box .pass-me {
		left: 83%;
	}
}
@media(max-width:697px) {
	.log-in .logIn-acount .input-box label {
		left: 76%;
	}

	.log-in .logIn-acount .input-box .pass-me {
		left: 82%;
	}
}
@media(max-width:645px) {
	.log-in .logIn-acount .input-box label {
		left: 72%;
	}

	.log-in .logIn-acount .input-box .pass-me {
		left: 80%;
	}
}
@media(max-width:563px) {
	.log-in .logIn-acount .input-box label {
		left: 70%;
	}

	.log-in .logIn-acount .input-box .pass-me {
		left: 78%;
	}
}

@media(max-width:532px) {
	.log-in .logIn-acount h2 {
		font-size: 25px
	}
}

@media(max-width:527px) {
	.log-in .logIn-acount .input-box label {
		left: 60%;
	}

	.log-in .logIn-acount .input-box label.pass-me {
		left: 69% !important;
	}


}
