body {
	overflow-x: hidden
}
.sign-up .signUp-acount {
	overflow: hidden
}
.sign-up .signUp-acount h2 {
    width: 84%;
    margin-right: 7%;
	    font-size: 30px;
}
.sign-up .signUp-acount .hint {
    text-align: right;
    margin-right: 36px;
}
.sign-up .signUp-acount .input-box label {
    top: 13px;
    left: 52%;
}
.sign-up .signUp-acount {
	margin-left: 83px;
	margin-right:0 
}
.sign-up .signUp-acount .input-box label {

    font-size: 16px;
}
.sign-up .signUp-acount .input-box .name-e-me {
	left: 55%
}
.sign-up .signUp-acount .input-box .email-e-me {
	left: 61%
}
.sign-up .signUp-acount .input-box .pass-e-me {
	left: 74%
}
.sign-up .signUp-acount .foreighn-e-me {
	margin-right: 20px
}
.sign-up .signUp-acount .input-box .id-me {
	left: 22%
}
.sign-up .back-logIn {
	font-size: 15px
}
@media(max-width:620px){
	.sign-up .signUp-acount h2 {
    width: 94%;
	}
}
@media(max-width:518px){
	.sign-up .signUp-acount .input-box label.name-e-me {
		left: 49%
	}
	.sign-up .signUp-acount .input-box label {
		left: 49%
	}
}
@media(max-width:516px){
	.sign-up .signUp-acount .input-box label.id-me {
	left: 17%!important;
}
	.sign-up .signUp-acount .input-box label.name-e-me {
	left: 52%!important;
}
	

